In [3]:
import pandas as pd
import os
import sqlite3

Читаем данные и разметку

In [2]:
conn = sqlite3.connect('core.download.db')
query = "SELECT * FROM img_info"
img_info = pd.read_sql(query, conn)
conn.close()

In [3]:
conn = sqlite3.connect('core.download.db')
query = "SELECT * FROM metadata"
meta = pd.read_sql(query, conn)
conn.close()

In [4]:
img_info.merge(meta, on='id', how='left')

,id,img_path,img_name,generation_date,experiment_model_id,experiment_number,img_generation_promt,rating,rating_date,annotator_id
0,1,/media/s1/dataset/neurostocker/core/2022/10/23...,3_Beautiful_animation_and_lighting_shots_of_3d...,2022-10-23T07:19:52.811389,1,1,3_Beautiful_animation_and_lighting_shots_of_3d...,2.0,2022-10-23T14:13:29.638800+03:00,0.0
1,2,/media/s1/dataset/neurostocker/core/2022/10/23...,"3_New_jersey_landscape_landscape_photography,_...",2022-10-23T09:50:10.544377,1,1,"3_New_jersey_landscape_landscape_photography,_...",3.0,2022-10-23T14:14:32.806611+03:00,0.0
2,3,/media/s1/dataset/neurostocker/core/2022/10/23...,"3_Hyper_realistic,_3d_real,_8k,_photorealistic...",2022-10-23T07:15:49.122040,1,1,"3_Hyper_realistic,_3d_real,_8k,_photorealistic...",3.0,2022-10-23T14:12:59.333043+03:00,0.0
3,4,/media/s1/dataset/neurostocker/core/2022/10/23...,"3_The_first_painting_I_did,_a_big_canvas_using...",2022-10-23T05:26:11.063582,1,1,"3_The_first_painting_I_did,_a_big_canvas_using...",3.0,2022-10-23T14:13:26.762529+03:00,0.0
4,5,/media/s1/dataset/neurostocker/core/2022/10/23...,"3_Landscape_mountain_forest_natural,_natural,_...",2022-10-23T07:03:38.122100,1,1,"3_Landscape_mountain_forest_natural,_natural,_...",2.0,2022-10-23T14:14:27.301397+03:00,0.0
...,...,...,...,...,...,...,...,...,...,...
2111153,2111053,/media/s1/dataset/neurostocker/core/2023/2/3/7...,"7_sturdy,_other,_skinny.jpg",2023-02-03T07:32:36.827637,1,1,"7_sturdy,_other,_skinny",NaN,NaN,NaN
2111154,2111054,/media/s1/dataset/neurostocker/core/2023/2/3/7...,"7_meager,_wiggly,_impassioned.jpg",2023-02-03T05:51:04.525737,1,1,"7_meager,_wiggly,_impassioned",NaN,NaN,NaN
2111155,2111055,/media/s1/dataset/neurostocker/core/2023/2/3/7...,"7_elderly,_sandy,_moist.jpg",2023-02-03T07:52:19.545140,1,1,"7_elderly,_sandy,_moist",NaN,NaN,NaN
2111156,2111056,/media/s1/dataset/neurostocker/core/2023/2/3/7...,"7_far-flung,_everlasting.jpg",2023-02-03T07:37:44.254525,1,1,"7_far flung,_everlasting",NaN,NaN,NaN
2111157,2111057,/media/s1/dataset/neurostocker/core/2023/2/3/7...,"7_gregarious,_unwritten.jpg",2023-02-03T05:36:51.528773,1,1,"7_gregarious,_unwritten",NaN,NaN,NaN

Оставляем только те, которые есть в разметке

In [5]:
rated_df = img_info[img_info.id.isin(meta.id)]
merged_df = rated_df.merge(meta, on='id', how='left')
merged_df

,id,img_path,img_name,generation_date,experiment_model_id,experiment_number,img_generation_promt,rating,rating_date,annotator_id
0,1,/media/s1/dataset/neurostocker/core/2022/10/23...,3_Beautiful_animation_and_lighting_shots_of_3d...,2022-10-23T07:19:52.811389,1,1,3_Beautiful_animation_and_lighting_shots_of_3d...,2,2022-10-23T14:13:29.638800+03:00,0
1,2,/media/s1/dataset/neurostocker/core/2022/10/23...,"3_New_jersey_landscape_landscape_photography,_...",2022-10-23T09:50:10.544377,1,1,"3_New_jersey_landscape_landscape_photography,_...",3,2022-10-23T14:14:32.806611+03:00,0
2,3,/media/s1/dataset/neurostocker/core/2022/10/23...,"3_Hyper_realistic,_3d_real,_8k,_photorealistic...",2022-10-23T07:15:49.122040,1,1,"3_Hyper_realistic,_3d_real,_8k,_photorealistic...",3,2022-10-23T14:12:59.333043+03:00,0
3,4,/media/s1/dataset/neurostocker/core/2022/10/23...,"3_The_first_painting_I_did,_a_big_canvas_using...",2022-10-23T05:26:11.063582,1,1,"3_The_first_painting_I_did,_a_big_canvas_using...",3,2022-10-23T14:13:26.762529+03:00,0
4,5,/media/s1/dataset/neurostocker/core/2022/10/23...,"3_Landscape_mountain_forest_natural,_natural,_...",2022-10-23T07:03:38.122100,1,1,"3_Landscape_mountain_forest_natural,_natural,_...",2,2022-10-23T14:14:27.301397+03:00,0
...,...,...,...,...,...,...,...,...,...,...
4490,1935414,/media/s1/dataset/neurostocker/core/2023/2/3/7...,7_revolving__amazing__cuddly__overlooke__patte...,2023-02-03T00:55:57.196146,1,1,7_revolving__amazing__cuddly__overlooke__patte...,2,2023-02-03T08:06:16.350512+03:00,0
4491,1935527,/media/s1/dataset/neurostocker/core/2023/2/3/7...,7_forceful__quintessential__awkward__faithfu__...,2023-02-03T00:55:59.064160,1,1,7_forceful__quintessential__awkward__faithfu__...,3,2023-02-03T08:10:31.387242+03:00,0
4492,1936013,/media/s1/dataset/neurostocker/core/2023/2/3/7...,"7_tricky,_horrible,_long.jpg",2023-02-03T00:56:30.240391,1,1,"7_tricky,_horrible,_long",2,2023-02-03T14:09:05.917221+03:00,0
4493,1936707,/media/s1/dataset/neurostocker/core/2023/2/3/7...,7_limping__unsightly__unwelcome__well-document...,2023-02-03T00:55:39.996018,1,1,7_limping__unsightly__unwelcome__well document...,2,2023-02-03T14:10:13.303031+03:00,0
4494,1937159,/media/s1/dataset/neurostocker/core/2023/2/3/7...,"7_definite,_fruitful,_regal.jpg",2023-02-03T00:55:43.156042,1,1,"7_definite,_fruitful,_regal",2,2023-02-03T08:30:29.279324+03:00,0

In [6]:
merged_df.shape[0]

4495

In [7]:
merged_df["id"].unique().shape

(4394,)

Оставляем все строки которые нужны для предиктов.

In [8]:
ann_df = merged_df[merged_df["rating"].isin([1, 2, 3, 4])].copy()

In [9]:
ann_df.shape

(2257, 10)

In [10]:
ann_df.columns

Index(['id', 'img_path', 'img_name', 'generation_date', 'experiment_model_id',
       'experiment_number', 'img_generation_promt', 'rating', 'rating_date',
       'annotator_id'],
      dtype='object')

Есть один повторяющийся, но с тем же

In [11]:
ann_df["id"].unique().shape

(2256,)

In [12]:

ann_df[ann_df["id"].duplicated(keep=False)]

,id,img_path,img_name,generation_date,experiment_model_id,experiment_number,img_generation_promt,rating,rating_date,annotator_id
2697,5907,/media/s1/dataset/neurostocker/core/2022/10/31...,"4_A_tree_with_bark_texture_on_a_forest_floor,_...",2022-10-31T08:11:33.254258,1,1,"4_A_tree_with_bark_texture_on_a_forest_floor,_...",2,2022-11-01T17:18:31.237984+03:00,0
2698,5907,/media/s1/dataset/neurostocker/core/2022/10/31...,"4_A_tree_with_bark_texture_on_a_forest_floor,_...",2022-10-31T08:11:33.254258,1,1,"4_A_tree_with_bark_texture_on_a_forest_floor,_...",2,2022-11-01T17:18:32.131582+03:00,0

Оставляем только нужные столбцы

In [13]:
ann_df = ann_df.drop(["rating_date", "annotator_id", 
             "experiment_model_id", "experiment_number", 
             "generation_date", "img_path"], axis=1).drop_duplicates()

In [14]:
ann_df.shape

(2256, 4)

In [15]:
ann_df

,id,img_name,img_generation_promt,rating
0,1,3_Beautiful_animation_and_lighting_shots_of_3d...,3_Beautiful_animation_and_lighting_shots_of_3d...,2
1,2,"3_New_jersey_landscape_landscape_photography,_...","3_New_jersey_landscape_landscape_photography,_...",3
2,3,"3_Hyper_realistic,_3d_real,_8k,_photorealistic...","3_Hyper_realistic,_3d_real,_8k,_photorealistic...",3
3,4,"3_The_first_painting_I_did,_a_big_canvas_using...","3_The_first_painting_I_did,_a_big_canvas_using...",3
4,5,"3_Landscape_mountain_forest_natural,_natural,_...","3_Landscape_mountain_forest_natural,_natural,_...",2
...,...,...,...,...
4490,1935414,7_revolving__amazing__cuddly__overlooke__patte...,7_revolving__amazing__cuddly__overlooke__patte...,2
4491,1935527,7_forceful__quintessential__awkward__faithfu__...,7_forceful__quintessential__awkward__faithfu__...,3
4492,1936013,"7_tricky,_horrible,_long.jpg","7_tricky,_horrible,_long",2
4493,1936707,7_limping__unsightly__unwelcome__well-document...,7_limping__unsightly__unwelcome__well document...,2
4494,1937159,"7_definite,_fruitful,_regal.jpg","7_definite,_fruitful,_regal",2

In [17]:
# ann_df.to_csv("ann.csv")

In [14]:
from PIL import Image
from tqdm import tqdm

Какие размеры картинок бывают:

In [20]:
img_size_df = {"rating": [], "id": [], "height": [], "width": []}
root_dir = "all_data"
for subdir in ["0", "1", "2", "3"]:
    sub_path = os.path.join(root_dir, subdir)
    for img_name in tqdm(os.listdir(sub_path)):
        img = Image.open(os.path.join(sub_path, img_name))
        img_size_df["rating"].append(subdir)
        img_size_df["id"].append(img_name.split(".")[0])
        img_size_df["width"].append(img.size[0])
        img_size_df["height"].append(img.size[1])

100%|███████████████████████████████████████████████████| 29/29 [00:00<00:00, 3562.72it/s]
100%|███████████████████████████████████████████████| 1184/1184 [00:00<00:00, 4053.35it/s]
100%|█████████████████████████████████████████████████| 507/507 [00:00<00:00, 3906.52it/s]
100%|█████████████████████████████████████████████████| 536/536 [00:00<00:00, 3987.02it/s]

In [21]:
data_checkimg_size_df = pd.DataFrame(img_size_df)

In [22]:
img_size_df

     rating       id  height  width
0         0  1303152     512   1024
1         0      156     512    512
2         0    11567     512   1024
3         0    11260     768    768
4         0     2887     512    512
...     ...      ...     ...    ...
2251      3     6606     768    768
2252      3    11329     512   1024
2253      3    10377     512   1024
2254      3     3080     512   1024
2255      3    10592     512   1024

[2256 rows x 4 columns]

In [24]:
img_size_df.drop(["id", "rating"], axis=1).drop_duplicates()

   height  width
0     512   1024
1     512    512
3     768    768

In [25]:
img_size_df.groupby("rating").aggregate("count")

          id  height  width
rating
0         29      29     29
1       1184    1184   1184
2        507     507    507
3        536     536    536